<div class="container">
  <div class="jumbotron">
    <h1> <%= "#{@user.name}" %></h1>

      <div class="col-lg-6">
        <h4> <%= "#{@user.email}" %> </h4>
        <small> <%= "Signed in #{time_ago_in_words(@user.current_sign_in_at)} ago" %> </small><br>
        <small> <%= "Signed in #{pluralize(@user.sign_in_count, 'time')}" %> </small>
      </div>
    </div>
  </div>

  <% if @items.empty? %>
    <h2>Nothing To Do!</h2>
  <% else %>
    <h2>
      <div class='js-items-count'><%= pluralize(@items.count, 'Thing') %> To Do</div>
    </h2>
  <% end %>


  <div class="js-items">
    <% if @items && !@items.empty? %>
      <%= render partial: 'items/item', collection: @items %>
    <% end %>
  </div>

  <hr />

  <div class="container">
    <%#if policy(@items.new).create? %>
      <div class='new-item'>
        <%= render partial:'items/form', locals:{user: @user} %>
      </div>
    <%# end %>
  </div>

</div>
